*{
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
    box-sizing: border-box;
    color: aliceblue;
    
}

html body{
    height: 100vh;
    width: 100%;
}

#main{
    background-color: black;
    height: 100vh;
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(233, 115, 52);
    align-items: center;
    padding: 10px 30px;

}
#part2{
    display: flex;
    gap: 20px;
}
#part2 a {
    text-decoration: none;
    font-size: 20px;
    gap: 30px;
    text-transform: capitalize;
}

input{
    border-radius: 20px;
    height: 30px;
    text-align: center;
    
}
button{
    padding: 5px 10px;
    border-radius: 30px;
    color: black;
}